.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
    margin-top: -15px;
    }

    @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
    }
    
    @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    }
}

.portfolio-menu__item {
    margin-right: 8px;

    &:last-child {
        margin-right: 0px;
    }
    
    @media screen and (max-width: 768px) {
    margin-top: 15px;
    }
}